ion-header {
  margin-bottom: 1em;
}

ion-input {
  font-size: 1em;
  margin: 0.8em 0;
}
ion-button {
  color: white;
  font-weight: 600;
  font-size: 1em;
  width: 100%;
  text-align: center;
  margin-top : 1.5em;
  padding: 0 1em;
}

